.plantilla{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
  }
header{
    background: black;
    color: white;
    text-align: center;
    border-bottom: 1px dashed white;
  }



.contenido{
  float: center;
  width: 50%;
  color: whitesmoke;
  margin: auto;
  min-height: 520px;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.clearfix{
    clear: both;
  }

footer{
    background: black;
    color: white;
    text-align: center;
  }
 
  .navbar-nav.ml-auto {
    margin-left: auto;
  }

  