:root{
  --blanco_fondo: #dcdada;
  --primario: #2c1a4d;
  --secundario: #ab296a;
  --gris: #757575;
}


body {
  margin: 0;
  background: #d1d0d0da;
  font-family:Arial, Helvetica, sans-serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilos de Colores */
.bc-degrate{
  background-image: linear-gradient(to left, #6f42c1 0%, var(--primario) 100%);
  border: none;
}
.bc-primary-2{
  background-color: #59359a;
}

.bc-secondary{
  border-color: var(--secundario);
  color: var(--secundario);
}

.bc-drop-home{
  background-color: var(--primario);
  border: none;
}

.bc-drop-home:hover{
  background-color: #59359a;
}
.bc-drop-home:focus{
  background-color: #553492;
}
.bc-drop-home:active{
  background-color: #553492;
}

.drop-home-item:hover{
  background-color: #5f4097;
}

.bc-secondary:hover{
  background-color: var(--secundario);
  color: white;
}

.bc-primary{
  background-color: var(--primario) !important;
}


/* Estilos Variados */
/* texto justifycado */
.justify{
  text-align: justify;
}
.w-280{
  width: 280px;
}
.w-340{
  width: 340px;
}

/* Perfil */
.foto-perfil{
  border-radius: 50%;
  background-color: var(--secundario);
  position: absolute;
  bottom: 26rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}


/* form para subir imagen de perfil */
.contenedor-perfil{
  position: relative !important;

}
.my-7{
  margin-top: 7rem !important;
  margin-bottom: 7rem;
}
.mt-7{
  margin-top: 7rem !important;
}
.mb-8{
  margin-bottom: 8rem;
}

.content-perfil{
  position:  absolute!important;
  top:5rem;
}
.perfil-btn{
  position: absolute;
  bottom: 0;
  left: 0;

}


/* Navegacion */
.btn-nav{
  background-color: #59359a;
}
.btn-nav:hover{
  background-color: #553492;
}
@media (min-width: 768px) {
  .btn-nav{
    background-color: transparent;
  }
  .w-340{
    width: 500px;
  }
}

@media (max-width: 768px) {
  .direct-flex-row{
    flex-direction: column !important;
  }
  .direct-flex-row > div{
    margin-left: 0 !important;
  }
}

/* Botones Nav */
.bc-secondary-body{
  background-color: var(--secundario);
}

.bc-secondary-body:hover{
  background-color: #982760;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/* Home */
.contenedor-categorias{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (max-width: 768px) {
  .contenedor-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}


/* Publicacion de productos */
.contenedor-publicar{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
    .contenedor-publicar{
      flex-direction: column;
    }
}

/* Mis Publicaciones */
.contenedor-publicaciones{
  background-color: white;
}
.contenedor-card-publicacion{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
}

.card-descripcion{
  height: 60px;
  overflow: hidden;
}

@media (max-width: 768px ) {
    .contenedor-card-publicacion{
      grid-template-columns: repeat(1,1fr);
    }
}
@media (min-width: 768px) {
    .contenedor-publicar-form{
      overflow: auto;
    }
}


.contenedor-publicar-content{
  height: 90vh;
  width: 31vw;
}
@media (max-width: 768px) {

    .contenedor-publicar-content{
     width: 100%;
     height: auto;
    } 
}

.contenedor-publicar-preview{
  margin: 3%;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 60vw;
}

@media (max-width: 768px) {
    .contenedor-publicar-preview{
      width: 100%;
    }
}

/* Detalle Publicaciones */

.size-detalle-imagen{
  object-fit: contain;
  height: 450px;
  width: 100%;
  margin: 0 auto;
  background-color: #a5a0a0;
}

@media (max-width: 768px) {
    .size-detalle-imagen{
      object-fit: cover;
      height: 300px;
    }
}

.detalle-publicacion-imagen{
  height: auto;
}

@media (max-width: 768px) {
  .detalle-publicacion-imagen{
    height: auto;
    object-fit: cover;
  }    
}

.contenedor-detalle{
  width: 70%;
}

@media (max-width: 768px) {
    .contenedor-detalle{
      width: 90%;
    }
}

.size-detalle{
  font-size: .75rem;
}

.contenedor-detalle-info{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
    .contenedor-detalle-info{
      flex-direction: column;
    }
}

.w-50-flex{
  width: 50%;
}
@media (max-width:768px ) {
    .w-50-flex{
      width: 100%;
    }
}

/* HOMEPAGE CAROUSEL */

/* General */
.carousel-control-prev, .carousel-control-next{
  width: 6vh;
  height: 6vh;
  background-color: #8e8b8b;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: .7;
  margin: 0 .5rem ;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
  opacity: 1;
  width: 6.5vh;
  height: 6.5vh;
}


/* Barra de busqueda */
.input-busqueda{
  width: 100%;
}

@media (min-width: 768px) {
  .input-busqueda{
    width: 50%;
  }    
}

.resultados-busqueda-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

@media (max-width: 768px) {
  .resultados-busqueda-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
.busqueda-error{
  grid-column-start: 2;
  grid-column-end: 4;
}

/* Lista de deseos */

.mensaje-deseo{
  background-color: rgba(26, 111, 26, 0.684);
}

.custom-fade {
  animation: fadeIn .7s ease-in-out; /* Duración de 1 segundo con efecto ease-in-out */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-deseo-true{
  color: var(--secundario) !important;
  transition: font-size 0.3s ease;
}

.btn-deseo-false{
  color: var(--primario)!important;
  transition: font-size 0.3s ease;
}

.btn-deseo-true:hover,.btn-deseo-false:hover{
  font-size: 2.2rem !important;
}
.position-relative {
  position: relative;
}

.btn-delete {
  position: absolute;
  top: 5px; 
  right: 50%; 
  border: 1px solid #ccc;
  cursor: pointer;
  color: #ccc;
  background-color: #ad5389;
  cursor: pointer;
}


/* Mis productos */
.producto-inactivo {
  background-color: rgba(128, 128, 128, 0.5);
  filter: grayscale(100%);
}

.btn-eliminar-publicacion{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-editar-publicacion{
  position: absolute;
  bottom: 10px;
  right: 120px;
}

.btn-resubir-publicacion{
  position: absolute;
  bottom: 10px;
  right: 215px;
}

.bc-lista-chat{
  background: #5c1545;
}
.bc-lista-chat-item{
  background: #440d32;
}

.nav-chat-active{
  background: #440d32; /* Cambia esto al color que desees */
  color: #fff; /* Cambia esto al color que desees */
  border-radius: 1rem;
  padding: .5rem;
}

.bc-lista-chat-item:hover{
  background: #320623;
  cursor: pointer;
}

.bc-mensaje{
  background-color: #f8f9fa;
}